<!-- <launch>
    <node pkg="bingda_practices" type="talker" name="talker_launch"/>
    <node pkg="bingda_practices" type="listener.py" name="listener" output="screen"/>
</launch> -->
<launch>
    <include file="$(find bingda_tutorials)/launch/talker.launch"/>
    <include file="$(find bingda_tutorials)/launch/listener.launch"/>
</launch>